---
import Main from '../layouts/MainLayout.astro';
---
<Main title="Coming Soon">
  <div class="max-w-7xl m-auto text-center font-bebas-neue">
    <h1 class="text-7xl font-bold mb-10 mt-[25vh]">MyRunning.club</h1>
    <p class="text-5xl mt-12">Coming Soon.</p>
  </div>
</Main>