---
---
<div class="flex mx-auto text-center mt-auto">
    <div class="grow">
        <p class="text-sm py-8">
            &copy; {new Date().getFullYear()} - Lumen Ascend
        </p>
    </div>
</div>